<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbInstance" value="oracle"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="mysql" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;user id=root; password=root; database=webgis; pooling=false"/>
    <add name="oracle" providerName="Oracle.DataAccess.Client" connectionString="User Id=GZDLGIS;Password=bcc;Data Source=192.168.1.100/DGGISBCC"/>
  </connectionStrings>
</configuration>