<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ElectronTransferView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="db" connectionString="server=localhost;user id=root; password=root; database=webgis; pooling=false" />
    <add name="ElectronTransferView.Properties.Settings.webgisConnectionString"
      connectionString="server=127.0.0.1;User Id=root;database=webgis;Persist Security Info=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="ElectronTransferView.Properties.Settings.webgisConnectionString11"
      connectionString="server=127.0.0.1;User Id=root;Persist Security Info=True;database=webgis"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <ElectronTransferView.Properties.Settings>
      <setting name="ElectronTransferView_CadService_ElectronTransferService"
        serializeAs="String">
        <value>http://192.168.1.102/ElectronTransferService/ElectronTransferService.asmx</value>
      </setting>
      <setting name="ElectronTransferView_DtxService_CreateIncrementDXTService"
        serializeAs="String">
        <value>http://192.168.1.102:801/CreateIncrementDXTService.svc</value>
      </setting>
    </ElectronTransferView.Properties.Settings>
  </applicationSettings>
</configuration>